@model BachHoaXanh.Models.KhachHang
@{
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaKhachHang)

    <div class="form-group m-2">
        @*1: Nam, 0: Nữ*@
        @Html.LabelFor(model => model.GioiTinh, "Giới tính:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <label class="radio-inline">
                @Html.RadioButtonFor(model => model.GioiTinh, true) Nam
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(model => model.GioiTinh, false) Nữ
            </label>
            @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group m-2">
        @Html.LabelFor(model => model.HoTen, "Họ và tên", htmlAttributes: new { @class = "control-label col-md-2 m-1" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control m-1 w-100", Required = "required" } })
            @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group m-2">
        @Html.LabelFor(model => model.SDT, "Số điện thoại", htmlAttributes: new { @class = "control-label col-md-2 m-1" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control m-1 w-100", Required = "required", type="phone" } })
            @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group m-2">
        @Html.LabelFor(model => model.DiaChi, "Địa chỉ nhà", htmlAttributes: new { @class = "control-label col-md-2 m-1" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control m-1 w-100", Required = "required" } })
            @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group d-none ">
        @Html.LabelFor(model => model.MatKhau, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group d-none ">
        @Html.LabelFor(model => model.TrangThai, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.TrangThai)
                @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group d-none ">
        @Html.LabelFor(model => model.HangKhachHang, "HangKhachHang", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.ValidationMessageFor(model => model.HangKhachHang, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group d-none ">
        @Html.LabelFor(model => model.DiemTichLuy, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DiemTichLuy, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DiemTichLuy, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class=" mt-2 text-center">
        <input type="submit" value="Lưu thông tin" class="btn btn-default w-50" style="background: #018846; color: white; width: 50%" />
    </div>
    <div class=" mt-2 text-center"> 
        <a class="btn btn-link text-decoration-none text-center" href="@Url.Action("ChangePassword","KhachHangs")">Tôi muốn đổi mật khẩu</a>
    </div>
    
</div>

}
<script>
   
</script>