@model IEnumerable<BachHoaXanh.Models.DonDatHang>

@{
    ViewBag.Title = "Đơn đặt hàng";
    Layout = "~/Views/Shared/_NVKD.cshtml";
}
<div class="rounded">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Danh sách đơn đặt hàng</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="delivered-tab" data-bs-toggle="tab" data-bs-target="#delivered-tab-pane" type="button" role="tab" aria-controls="delivered-tab-pane" aria-selected="false">Các đơn đã giao</button>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0" style="background: #ffffff">
            <table class="table table-striped table-hover datatable">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nhân viên</th>
                        <th scope="col">Khách hàng</th>
                        <th scope="col">SĐT</th>
                        <th scope="col">Địa chỉ giao</th>
                        <th scope="col">Tổng tiền</th>
                        <th scope="col">Danh sách sản phẩm</th>
                        <th scope="col">Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MaDonHang</td>
                            <td>
                                @if (item.MaNhanVien == null)
                                {
                                    <span>Chưa ai nhận đơn</span>
                                }
                                else
                                {
                                    <span>@item.MaNhanVien, @item.NhanVien.HoTen</span>
                                }
                            </td>
                            <td>@item.KhachHang.HoTen</td>
                            <td>@item.SDTNhanHang</td>
                            <td>@item.DiaChiNhanHang</td>
                            <td>@String.Format("{0:N0}", @item.TongTien)₫</td>
                            <td>
                                <div class="list-group-item list-group-item-action rounded btn text-center dropdown-toggle" style=" color: white; width: fit-content; background: #018846; border: none !important" onclick="toggleSubMenu(this)">
                                    Danh sách sản phẩm
                                    <ul class="m-dropdown-menu list-unstyled" style="width: 100%; display:none">
                                        <li>
                                            @foreach (var sp in item.ChiTietDatHangs)
                                            {
                                                <div class="row">
                                                    <a style="width:fit-content" href="@Url.Action("CTSanPham", "Home", new { id = sp.MaSanPham })"><img src="~/Styles/Image/SanPham/@sp.SanPham.HinhSanPham" style="height: 80px; width: 80px; margin: 5px;"></a>
                                                    <div class="col-6">
                                                        <h6>@sp.SanPham.TenSanPham</h6>
                                                        <h6>Số lượng: @sp.SoLuong</h6>
                                                        <h6>Thành tiền:  @String.Format("{0:0,N}", @sp.ThanhTien)</h6>
                                                    </div>
                                                </div>
                                            }
                                        </li>
                                    </ul>
                                </div>
                            </td>

                            <td><span style="color: red">@item.TrangThaiDonHang</span></td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
    <div class="tab-content p-2">
        <div class="tab-pane fade bg-white" id="delivered-tab-pane" role="tabpanel" aria-labelledby="delivered-tab" tabindex="0">
            <table class="table table-striped table-hover datatable">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nhân viên</th>
                        <th scope="col">Khách hàng</th>
                        <th scope="col">SĐT</th>
                        <th scope="col">Địa chỉ</th>
                        <th scope="col">Tổng tiền</th>
                        <th scope="col">Danh sách sản phẩm</th>
                        <th scope="col">Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Where(s => s.TrangThaiDonHang.ToLower() == "đã giao hàng"))
                    {
                        <tr>
                            <td>@item.MaDonHang</td>
                            <td>
                                @if (item.MaNhanVien == null)
                                {
                                    <span>Chưa ai nhận đơn</span>
                                }
                                else
                                {
                                    <span>@item.MaNhanVien, @item.NhanVien.HoTen</span>
                                }
                            </td>
                            <td>@item.KhachHang.HoTen</td>
                            <td>@item.SDTNhanHang</td>
                            <td>@item.DiaChiNhanHang</td>
                            <td>@String.Format("{0:0,0}", @item.TongTien)</td>
                            <td>
                                <div class="list-group-item list-group-item-action rounded btn text-center dropdown-toggle" style=" color: white; width: fit-content; background: #018846; border: none !important" onclick="toggleSubMenu(this)">
                                    Danh sách sản phẩm
                                    <ul class="m-dropdown-menu list-unstyled" style="width: 100%; display:none">
                                        <li>
                                            @foreach (var sp in item.ChiTietDatHangs)
                                            {
                                                <div class="row">
                                                    <a style="width:fit-content" href="@Url.Action("CTSanPham", "Home", new { id = sp.MaSanPham })"><img src="~/Styles/Image/SanPham/@sp.SanPham.HinhSanPham" style="height: 80px; width: 80px; margin: 5px;"></a>
                                                    <div class="col-6">
                                                        <h6>@sp.SanPham.TenSanPham</h6>
                                                        <h6>Số lượng: @sp.SoLuong</h6>
                                                        <h6>Thành tiền:  @String.Format("{0:0,0}", @sp.ThanhTien)₫</h6>
                                                    </div>
                                                </div>
                                            }
                                        </li>
                                    </ul>
                                </div>
                            </td>

                            <td><span style="color: red">@item.TrangThaiDonHang</span></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function toggleSubMenu(element) {
        var subMenu = element.querySelector('.m-dropdown-menu');
        subMenu.style.display = (subMenu.style.display === 'none') ? 'block' : 'none';
    }

</script>

